@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

/*---Media Queries --*/
@media (max-width: 3000px) {
  :root {
    --brightGreen: #00d486;
    --titleFont: "Arial Black", Arial;
    background: #050505 !important;
  }

  html,
  body {
    overflow-x: hidden;
  }

  .data {
    color: white;
  }

  .spinnerBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 10000;
  }

  .spinner1 {
    position: absolute;
    top: 50%;
  }

  .titleFont {
    text-shadow: 2px 2px black;
    font-family: "Arial Black", Arial;
    font-family: var(--titleFont);
    font-size: 10vh;
    color: white;
  }

  .title {
    text-shadow: 2px 2px black;
    font-family: "Arial Black", Arial;
    font-family: var(--titleFont);
    font-size: 9vh !important;

    z-index: 5;
  }

  .title2 {
    text-shadow: 2px 2px black;
    font-family: "Arial Black", Arial;
    font-family: var(--titleFont);
    font-size: 90px !important;
    padding-top: 15%;
  }

  .title3 {
    text-shadow: 2px 2px black;
    font-family: "Arial Black", Arial;
    font-family: var(--titleFont);
    font-size: 90px !important;
    padding-top: 75%;
  }

  .title4 {
    text-shadow: 2px 2px black;

    font-family: "Arial Black", Arial;
    font-family: var(--titleFont);
    font-size: 80px !important;
    padding-top: 5%;
    display: flex;
    justify-content: center !important;
    align-content: center;
  }

  .titleh3 {
    color: white;
    font-size: 4vh;
    margin-top: -15px;
    text-shadow: 2px 2px black;
  }

  .titleh3b {
    color: white;
    font-size: 3vh;
    margin-top: -15px;
    text-shadow: 2px 2px black;
  }

  .jmbo {
    height: 17vh !important;
    border-radius: 0px !important ;
    color: white;

    background: -moz-linear-gradient(
      top,
      rgba(150, 150, 150, 1) 0%,
      rgba(128, 128, 128, 0.54) 46%,
      rgba(99, 99, 99, 0.18) 82%,
      rgba(71, 71, 71, 0) 100%
    ); /* FF3.6-15 */

    background: -webkit-linear-gradient(
      top,
      rgba(150, 150, 150, 1) 0%,
      rgba(128, 128, 128, 0.54) 46%,
      rgba(99, 99, 99, 0.18) 82%,
      rgba(71, 71, 71, 0) 100%
    ); /* Chrome10-25,Safari5.1-6 */

    background: linear-gradient(
      to bottom,
      rgba(87, 87, 87, 1) 0%,
      rgba(69, 69, 69, 0.54) 46%,
      rgba(54, 54, 54, 0.18) 82%,
      rgba(36, 36, 36, 0) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
  }

  .phone {
    z-index: 2;
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .p1 {
    margin-top: -20px;
    font-size: 2.1vh;
    margin-left: 40px;
  }

  /* buttons */

  .titlebtns {
    margin: 30px;
    background-color: #00d486 !important;
    background-color: var(--brightGreen) !important;
    border: none;
    color: white;
    border-radius: 3px;
    height: 2.2vw;
    width: 8vw;
    font-size: 0.7vw;
    z-index: 400;
  }

  .btnJumboBox {
    position: absolute;
    top: 0.5vh;
    right: 0;
    width: 30vw;
    height: 15vh;
    background: none;
    display: flex;
    align-items: center;
  }

  .btnJumbo {
    position: relative;
    font-size: 0.8vw;
    font-family: "Helvetica Neue";
    padding: 0vh;
    width: 9vw;
    height: 3.6vh;
    color: white;
    border: none;
    border-radius: 0.3vh;
    left: 5vw;
    background-color: #00d486 !important;
    background-color: var(--brightGreen) !important;
  }

  .btnJumbo2,
  .btnJumbo3 {
    height: 5vh;
    color: white;
    border-radius: 3px;
    width: 9vw;
    height: 3.6vh;
    border: none;
    margin-top: 20px;
    background-color: #00d486 !important;
    background-color: var(--brightGreen) !important;
  }

  .crdbtn {
    color: black !important;
    background-color: #00d486 !important;
    background-color: var(--brightGreen) !important;
    border-radius: 50% !important;
  }

  /*  end buttons */

  /* all elements within bg background */
  .phoneColumn {
    background: none !important;
    position: absolute !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    min-height: 50vw !important;
    max-width: 13vw !important;

    left: 73vw !important;
    bottom: 8vh !important;

    display: inline-block !important;
  }

  .lettuceColumn {
    position: absolute !important;
    min-height: 50vw !important;
    max-width: 45vw !important;
    left: 5.8vw !important;
    bottom: 0 !important;
    display: inline-block !important;
  }

  /* end of bg elements */

  /*Intuitive section elements */
  .intuitiveColumn {
    max-height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arial Black";
    text-shadow: 2px 2px black;
    font-size: 12vh;
    color: white;
  }

  .intuitiveSubTitles {
    min-height: 20vh !important;
    display: flex !important;
    justify-content: space-around !important;
    margin-left: 20vw !important;
    max-width: 60vw !important;
  }

  .intuitiveSubsRow {
    position: absolute;
    top: 48.5vh;
    min-width: 100vw;
    left: 0;
  }

  .phoneCalcColumn {
    min-height: 70vh !important;
    max-width: 12vw !important;
    position: absolute !important;
    top: 14vh !important;
    left: 8vw !important;
  }

  .pastaColumn {
    min-height: 30vh !important;
    max-width: 32vw !important;
    position: absolute !important;
    top: 10vh !important;
    right: 0vw !important;
  }
  /* end of intuitive section */

  .lettuce {
    position: absolute;
    bottom: -50px;
    right: 0%;
    z-index: 2;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .expertsTitleRow {
    min-height: 50vh !important;
    max-width: 25vw !important;
    position: absolute !important;
    left: 4vw !important;
    top: 15vh !important;
  }

  .pasta {
    width: 100%;
  }
  .pastaB {
    position: absolute;
    top: -25%;
    left: 50%;
    transform: scale(0.5) skewX(20deg);
  }

  .phoneCalc {
    width: 100%;
  }

  .option {
    margin-top: -50px;
  }
  .navclss {
    z-index: 999;

    width: 100vw;
  }

  .artichokes {
    /* background-image: url("./images/spaghetti.jpg"); */

    position: relative;
    margin: 0px !important;
    padding: 0px !important;
    width: 100vw !important;
    background-attachment: fixed;
    margin-top: -35px !important;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0px !important;
    background-position-x: 0px !important;
  }

  .optionTitle {
    font-size: 2vw;
    margin-top: 0vh;
    color: white;
  }

  .bg {
    position: relative;
    top: 0;
    padding: 0px !important;
    z-index: 1;
    width: 100vw !important;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 95%;
    background-attachment: fixed;
  }

  .bg3 {
    position: relative;

    margin: 0vw !important;
    padding: 0px !important;
    width: 100vw !important;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 0%;
  }

  .intuitive {
    margin-top: 10%;
  }

  .cardColumn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    min-height: 360px !important;

    width: 280px;
  }

  .crdbdy {
    background: 333333 !important;
    color: white;
    font-family: "Open Sans Condensed" !important;
    font-size: 20px !important;
  }

  .crdttl {
    background-color: white !important;
    font-family: "Open Sans", "sans-serif" !important;
    min-width: 279px;

    color: black;
  }

  .crdsbttl {
    font-size: 20px;
    font-family: "Roboto", sans-serif !important;
  }

  .cardBox {
    position: absolute;

    border: 10px solid #00d486 !important;
    border: 10px solid var(--brightGreen) !important;
    background-color: black;
    height: 45vw;
    width: 70vw;
  }

  .titleColumn {
    position: absolute !important;
    bottom: 28% !important;
    width: 40vw !important;

    z-index: 300;
  }

  .cardsRow {
    min-height: 50vh !important;
    max-width: 60vw !important;
    position: absolute !important;
    top: 9vh !important;
    right: 7vw !important;
  }

  .fullCardBox1 {
    min-height: 57vh !important;
    min-width: 20vw !important;
    background: none;
  }

  .cardTitleBox {
    position: relative !important;
    background: #00d486 !important;
    min-height: 14.5vh !important;
    max-width: 18vw !important;
    color: black !important;
  }

  .name {
    position: relative;
    display: flex;
    top: 10vh;
    background: none;
    justify-content: center;
    font-size: 4vh !important;
    font-family: "Source Sans Pro", sans-serif !important;
    color: black;
  }

  .name2 {
    font-size: 2vh !important;
  }

  .profileImageBox {
    width: 50% !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 14%;
    background: none;
  }

  .jobBox1 {
    background: white;

    min-height: 16vh;
    max-width: 18vw;
    color: black;
    font-size: 2.6vh;
    display: block;
  }

  .textBox1 {
    position: relative !important;

    background: #333333 !important;
    min-height: 25vh !important;
    max-width: 18vw !important;
    color: white;

    display: block !important;
    font-size: 1.7vh !important;
    padding: 1vh !important;
  }

  .actualText {
    position: relative !important;
    min-height: 15vh !important;
    background: none;
  }

  .cardButton {
    position: relative;
    margin-top: 2vh;
    background-color: #00d478 !important;
    background-color: var(--brightGreen) !important;
    margin-left: 50% !important;
    transform: translateX(-50%);
  }

  .jmbo2 {
    position: relative;

    width: 100vw;
    padding: 0 !important;
    vertical-align: top !important;
    background: -moz-linear-gradient(
      top,
      rgba(150, 150, 150, 0.5) 0%,
      rgba(128, 128, 128, 0.34) 46%,
      rgba(99, 99, 99, 0.18) 100%
    ); /* FF3.6-15 */

    background: -webkit-linear-gradient(
      top,
      rgba(150, 150, 150, 0.5) 0%,
      rgba(128, 128, 128, 0.34) 46%,
      rgba(99, 99, 99, 0.18) 100%
    ); /* Chrome10-25,Safari5.1-6 */

    background: linear-gradient(
      to bottom,
      rgba(150, 150, 150, 0.5) 0%,
      rgba(128, 128, 128, 0.34) 46%,
      rgba(99, 99, 99, 0.18) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
  }

  .jmboTextBox {
    display: inline-block;
    width: 72vw;
    padding: 3vw;
    background: none;
  }

  .btnJumboBox2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28vw;
    background: none;
    padding: 0;
    height: 100%;
    right: 0;
    top: 0;
  }

  input[type="radio"]:after {
    width: 15px;
    height: 15px;
    border-radius: 50%;

    position: relative;
    background-color: grey;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid grey;
  }

  input[type="radio"]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #00d486;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid #00d486;
  }

  .radioInput {
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .jmbo3 {
    position: relative;
    background: -moz-linear-gradient(
      top,
      rgba(150, 150, 150, 0.5) 0%,
      rgba(128, 128, 128, 0.34) 46%,
      rgba(99, 99, 99, 0.18) 100%
    ); /* FF3.6-15 */

    background: -webkit-linear-gradient(
      top,
      rgba(150, 150, 150, 0.5) 0%,
      rgba(128, 128, 128, 0.34) 46%,
      rgba(99, 99, 99, 0.18) 100%
    ); /* Chrome10-25,Safari5.1-6 */

    background: linear-gradient(
      to bottom,
      rgba(150, 150, 150, 0.5) 0%,
      rgba(128, 128, 128, 0.34) 46%,
      rgba(99, 99, 99, 0.18) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
  }

  .grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;

    margin-top: 7vh;
    padding: 10px;
    padding-left: 5vw;
    padding-right: 5vw;
    min-width: 80vw;
    margin-left: 10vw !important;
    margin-right: auto !important;
  }
  .grid-container > div {
    padding: 20px 0;
    font-size: 0.8vw;
    font-family: "Open Sans";
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .grid-container > div > h3 {
    color: #00d486;
    font-family: "Poppins";
    font-size: 1.5vw;
  }

  .grid-container > div > div > h3 {
    color: #00d486;
    font-family: "Poppins";
    font-size: 1.5vw;
  }

  li {
    list-style-type: none;
  }

  .connect {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .credits {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .navigate {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .info {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .logo1 {
    position: relative;
    height: 4vh;
    width: 4vh;
    margin: 0.5vh;
    overflow: visible;
  }

  .contactIcons {
    margin-top: 1vh;
    height: 4vh;
    overflow: visible;
  }

  .subButton {
    background: #33ff99;

    border-color: black;
    border-style: solid;
  }

  .formInput,
  .subButton {
    border: none;
    margin: 0.1vh;
  }

  hr {
    height: 1px;
    margin: 50px 0;
    background: -webkit-gradient(
      linear,
      0 0,
      100% 0,
      from(rgba(0, 235, 153, 0)),
      color-stop(0.5, #50e6b2),
      to(rgba(0, 235, 153, 0))
    );
    background: -webkit-linear-gradient(
      to left,
      rgba(0, 235, 153, 0),
      #50e6b2,
      rrgba(0, 235, 153, 0)
    );
    background: -moz-linear-gradient(
      to left,
      rgba(0, 235, 153, 0),
      #50e6b2,
      rgba(0, 235, 153, 0)
    );
    background: -o-linear-gradient(
      to to left,
      rgba(0, 235, 153, 0),
      #50e6b2,
      rgba(0, 235, 153, 0)
    );
    background: linear-gradient(
      to left,
      rgba(0, 235, 153, 0),
      #50e6b2,
      rgba(0, 235, 153, 0)
    );
    border: 0;
  }
  hr:after {
    display: block;
    content: "";
    height: 3px;
    background-image: -webkit-gradient(
      radial,
      50% 0%,
      0,
      50% 0%,
      116,
      color-stop(0%, #9be0c8),
      color-stop(100%, rgba(255, 255, 255, 0))
    );
    background-image: -webkit-radial-gradient(
      center top,
      farthest-side,
      #9be0c8 0%,
      rgba(255, 255, 255, 0) 100%
    );
    background-image: -moz-radial-gradient(
      center top,
      farthest-side,
      #9be0c8 0%,
      rgba(255, 255, 255, 0) 100%
    );
    background-image: -o-radial-gradient(
      center top,
      farthest-side,
      #9be0c8 0%,
      rgba(255, 255, 255, 0) 100%
    );
    background-image: radial-gradient(
      farthest-side at center top,
      #9be0c8 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .lucidSpan {
    color: #00d486;
    margin-right: 3px;
  }

  .dnut {
    position: absolute;
    /*transform: rotate(-270deg) translateY(101%);*/
    top: -30vh;
    transform-origin: bottom left;
    transform: rotate(90deg);
    width: 70vh;
    max-height: 90vw;

    display: flex;
    justify-content: center;
    z-index: 1;
  }

  .radioInput {
    z-index: 100 !important;
  }

  .percentBox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw !important;
    color: #66ffb2;
    top: 9vh !important;
    left: 2vw !important;

    min-height: 60vh;
    z-index: 5 !important;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 1s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  .graphPercentParent {
    position: relative;

    display: "block";

    top: -10vh !important;
    padding: 0;
    min-height: 65vh;
    z-index: 1 !important;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  .statsTitle {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    color: WHITE;
    font-size: 4vw;
    /*font-family: "Open Sans Condensed" !important; */
    text-shadow: 2px 2px black;
    font-family: "Arial Black", Arial;
    font-family: var(--titleFont);
    font-size: 9vh;
  }

  .iconsStatsParent {
    position: absolute;

    display: inline-block !important;
    top: 12vh;
    width: 80vw;
    height: 65vh;
    right: 0vw;
    z-index: 100;
  }

  .iconStatsBox {
    position: relative;

    max-width: 25vw !important;
    margin-top: 17vh;
    display: inline-block !important;
    animation: inFromRight ease 2s;
    -webkit-animation: inFromRight ease 2s;
  }

  .iconText {
    position: relative;
    display: flex;
    min-height: 10vh;
    width: 50vw;

    align-content: center;
  }

  @keyframes inFromRight {
    0% {
      opacity: 0;
      right: -50vw;
    }
    100% {
      opacity: 1;
      right: 0vw;
    }
  }

  @-moz-keyframes inFromRight {
    0% {
      opacity: 0;
      right: -50vw;
    }
    100% {
      opacity: 1;
      right: 0vw;
    }
  }

  @-webkit-keyframes inFromRight {
    0% {
      opacity: 0;
      right: -50vw;
    }
    100% {
      opacity: 1;
      right: 0vw;
    }
  }

  @-o-keyframes inFromRight {
    0% {
      opacity: 0;
      right: -50vw;
    }
    100% {
      opacity: 1;
      right: 0vw;
    }
  }

  @-ms-keyframes inFromRight {
    0% {
      opacity: 0;
      right: -50vw;
    }
    100% {
      opacity: 1;
      right: 0vw;
    }
  }

  .icon {
    max-width: 4vw;
    display: inline-block;
  }

  .text {
    position: relative;
    display: inline-block;
    padding-left: 5px;
    color: #66ffb2;
    font-size: 3vw;

    top: 0.7vh;
    min-width: 40vw;
    font-family: "Open Sans Condensed" !important;
  }

  .iconStat {
    color: #abffd5;

    font-size: 1.5vw;
    margin-left: 6vw;
    margin-top: 0vw;
    animation: inFromRight2 ease 1s;
    -webkit-animation: inFromRight2 ease 1s;
  }

  @keyframes inFromRight2 {
    0% {
      opacity: 0;
      margin-left: 50vw;
    }
    100% {
      opacity: 1;
      margin-left: 6vw;
    }
  }

  @-moz-keyframes inFromRight2 {
    0% {
      opacity: 0;
      margin-left: 50vw;
    }
    100% {
      opacity: 1;
      margin-left: 6vw;
    }
  }

  @-webkit-keyframes inFromRight2 {
    0% {
      opacity: 0;
      margin-left: 50vw;
    }
    100% {
      opacity: 1;
      margin-left: 9vw;
    }
  }

  @-o-keyframes inFromRight2 {
    0% {
      opacity: 0;
      margin-left: 50vw;
    }
    100% {
      opacity: 1;
      margin-left: 9vw;
    }
  }

  @-ms-keyframes inFromRight2 {
    0% {
      opacity: 0;
      margin-left: 50vw;
    }
    100% {
      opacity: 1;
      margin-left: 9vw;
    }
  }

  .radioLabelsBox {
    max-width: 60vw;
    margin: auto;

    display: flex;
    justify-content: space-evenly;
    color: #66ffb2;
  }

  .labelInput {
    max-width: 14vw;
  }

  .radioLabel {
    margin-top: 0vh;
    color: white;

    display: flex;
    justify-content: center;
    font-size: 1.4vw;
    font-family: "Poppins";
  }

  .radioLabelsBox {
    position: relative;
    max-width: 40vw;
    margin: auto;

    display: flex;
    justify-content: space-evenly;
    color: #66ffb2;
    z-index: 500 !important;
  }

  .labelInput {
    max-width: 14vw;
  }

  .dataButton {
    position: absolute !important;
    background: #050505 !important;
    border: solid 1px;
    border-color: #00d486 !important;
    color: #00d486 !important;
    /*border-radius: 50px !important;*/
    width: 20vw !important;
    height: 5vh;
    margin-left: 40vw;
    margin-top: -10vh;
    z-index: 200 !important;
  }

  .MDB {
    width: 50vw !important;
  }

  .graphTitle {
    margin-top: 4vh;
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
  }

  .spacer {
    height: 12vh;
  }

  .logList {
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
  }

  .logButton {
    margin-bottom: 2rem;
    background-color: #050505 !important;
    margin-left: 50%;
    border: solid 1px !important;
    border-color: #00d486 !important;
    color: #00d486 !important;
    margin-left: 50vw;
    transform: translateX(-50%);
    width: 15vw;
    height: 5vh;
    margin-top: 3vh;
  }

  .addLogNotice {
    font-size: 2vw;
    width: 90vw;
    color: #00d486;

    text-align: center;
    margin-left: 50vw;
    transform: translateX(-50%);
  }

  .remove-btn {
    background: #050505 !important;
    color: #00d486 !important;
    border: solid 1px;
    border-color: #00d486 !important;
    margin-bottom: 1vh;
  }

  .input {
    background-color: #303030 !important;
    color: #00d486 !important;
    border: solid 1px;
    border-color: #00d486 !important;
  }

  .GIFparent {
    position: relative;

    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
  }

  .GIF {
    color: white;
    margin-left: 50%;
    transform: translateX(-50%);
    min-width: 50vw;
    background: #050505;
    margin-bottom: 5vh;
    display: block;

    -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  }

  .demoP {
    display: block;
    color: white;
    font-size: 1vw !important;
    padding: 0.9vw;
  }

  .gifImage {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .demoTitle {
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    font-family: arial black;
    font-size: 6vw !important;
    margin-top: -2vh;
    margin-bottom: 5vh;
  }

  .passwordInstructions {
    color: white;
    font-size: 10px;
    margin-left: 10px;
    margin-top: -10px;
  }

  /*---Login buttons --*/

  .login {
    position: relative;
    border-radius: 0.2vw;
    border-style: none;
    color: white;
    height: 5vh;
    width: 10vw;
  }

  .loginReg {
    position: relative;
    border-radius: 0.2vw;
    border-style: none;
    color: white;
    height: 5vh;
    width: 10vw;
  }

  .loginButtonsBox {
    display: flex;
    justify-content: space-evenly;
  }

  .fbLogin {
    background-color: #3b5998;
  }

  .fBox {
    width: 20%;
    height: 100%;
    margin-right: 10px;
    padding-left: 0;
    border-right-style: solid;
    border-right-color: #050505;
    border-right-width: 1px;
    display: inline-block;
    vertical-align: top;
    background: orange;
  }

  .facebookF {
    max-height: 2vh;
    margin-left: 0;
    margin-top: 50%;
    transform: translateY(-25%);
    background: green;
  }

  .fbText {
    display: inline-block;
    width: 80%;
    height: 100%;
    font-size: 0.65vw;
    line-height: 100%;
    padding-top: 10%;
    background: red;
  }

  .googleLogin {
    background-color: #de5246;
  }

  .gBox {
    width: 20%;
    height: 100%;

    border-right-style: solid;
    border-right-color: #050505;
    border-right-width: 1px;
    display: inline-block;
    vertical-align: top;
  }

  .googleG {
    max-height: 2vh;

    margin-top: 50%;
    transform: translateY(-25%);
  }

  .gText {
    display: inline-block;
    width: 80%;
    height: 100%;
    font-size: 0.65vw;
    line-height: 100%;
    padding-top: 10%;
  }

  .my-facebook-button-class {
    width: 80%;
    max-height: 5vh;
    background: #3b5998;
    color: white;
  }
}

@media (max-width: 1100px) and (min-height: 1200px) {
  .loginButtonsBox {
    display: block;

    width: 120%;
    margin-left: -10%;
  }
}
@media (max-width: 1100px) {
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }

  .title {
    text-shadow: 2px 2px black;
    font-family: arial black;
    font-size: 10vw !important;
    padding-top: 7% !important;
  }

  .titleh3 {
    font-size: 4vw;
  }

  .title4 {
    text-shadow: 2px 2px black;
    font-family: arial black;
    font-size: 60px !important;
    padding-top: 55%;
  }

  .titlebtns {
    margin: 10px;
    background-color: #00d486 !important;
    background-color: var(--brightGreen) !important;
    border: none;
    color: white;
    border-radius: 3px;
    height: 5vw;
    width: 13vw;
    font-size: 1.7vw;
  }

  .phoneColumn {
    background: none !important;
    position: absolute !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    min-height: 50vw !important;
    max-width: 18vw !important;

    left: 73vw !important;
    bottom: 5vh !important;

    display: inline-block !important;
  }

  .bg {
    width: 100vw !important;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 80%;

    height: 70vw !important;

    background-attachment: scroll;
  }
  .bg3 {
    margin: 0px !important;
    padding: 0px !important;
    width: 100vw !important;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 15%;
    position: relative;
    height: 215vh !important;
    margin-top: 0px !important;
    background-attachment: scroll;
  }
  .jmbo {
    height: 19vh;
  }

  .jmbo2 {
    position: relative;
    display: flex;
    align-items: center;
  }

  .jmboTextBox {
    width: 72vw;
    padding: 3vw;
    background: none;
  }

  .btnJumboBox2 {
    width: 28vw;

    padding: 0;
    height: 100%;
    right: 0;
    padding: 0;
    margin: 0;
  }

  .btnJumboBox {
    position: absolute;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background: none;
    display: flex;
    align-items: center;
  }

  .btnJumbo {
    position: absolute;
    right: 12vw;
    font-size: 1.5vw;
    font-family: "Helvetica Neue";
    padding: 0.5vh;
    width: 12vw;
    height: 4vh;
    color: white;
    border: none;
    border-radius: 0.3vh;
    margin-top: 0vh;

    background-color: #00d486 !important;
    background-color: var(--brightGreen) !important;
  }

  .btnJumbo2,
  .btnJumbo3 {
    height: 5vh;
    color: white;
    border-radius: 50px !important;
    width: 12vw;
    height: 4vh;
    font-size: 1.5vw;
    border: solid 1px;
    border-color: white !important;
    margin-top: 20px;
    background-color: #00d486 !important;
    background-color: var(--brightGreen) !important;
  }

  .navclss {
    z-index: 999;

    width: 100vw;
  }

  .artichokes {
    position: relative;
    margin: 0px !important;
    padding: 0px !important;
    width: 100vw !important;

    margin-top: -35px !important;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0px !important;
    background-position-x: -50px !important;
    background-attachment: scroll !important;
  }

  .intuitiveColumn {
    position: absolute;
    top: -20vh;
    font-size: 11vw;
  }

  .intuitiveSubsRow {
    position: absolute;
    top: 25vh;
    min-width: 40vw !important;
    left: 0;
  }

  .phoneCalcColumn {
    min-height: 100vh !important;
    max-width: 18vw !important;
    position: absolute !important;
    top: 10vh !important;
    left: 2vw !important;
  }

  .pastaColumn {
    min-height: 30vh !important;
    max-width: 32vw !important;
    position: absolute !important;
    top: 3vh !important;
    right: 0vw !important;
  }

  .expertsTitleRow {
    min-height: 10vh !important;
    min-width: 100vw !important;
    position: absolute !important;
    left: 0 !important;
    top: 5vh !important;

    display: flex !important;
    justify-content: center !important;
  }

  .expertsTitleColumn {
    display: flex !important;
    align-content: center !important;
    justify-content: center !important;
  }

  .titleFont {
    display: inline;

    text-shadow: 2px 2px black;
    font-family: "Arial Black", Arial;
    font-family: var(--titleFont);
    font-size: 6vh;
    color: white;
    padding: 1vh;
  }

  .cardsRow {
    min-height: 50vh !important;
    min-width: 100vw !important;
    position: relative !important;
    left: 0;

    top: 20vh !important;
    display: flex !important;
    justify-content: center !important;
  }

  .cardColumn {
    position: relative !important;
    width: 100% !important;
    height: 190vh;

    margin-left: 50%;
    transform: translateX(-50%);
    display: block !important;
  }

  .jmbo3 {
    position: relative;
    padding-left: 3vw !important;
  }

  .fullCardBox1 {
    position: relative !important;

    width: 50vw;

    margin-bottom: 5vh;
  }

  .cardButton {
    position: relative;
    margin-top: 2vh;
    font-size: 2vw !important;
    padding-top: 1.2vw !important;
    height: 4vh;
    width: 20vw;
    background-color: #00d486 !important;
    background-color: var(--brightGreen) !important;
    margin-left: 50% !important;
    transform: translateX(-50%);
  }

  .cardTitleBox {
    position: relative !important;
    background: #00d486 !important;
    min-height: 14.5vh !important;
    min-width: 100% !important;
    color: black !important;
  }

  .lettuceColumn {
    position: absolute !important;
    min-height: 50vw !important;
    max-width: 50vw !important;
    left: 0vw !important;
    bottom: 0 !important;
    display: inline-block !important;
  }

  .jobBox1 {
    background: white;
    min-height: 27vw;
    min-width: 100%;
    color: black;
    font-size: 2.6vh;
  }

  .name {
    position: relative;
    display: flex;
    top: 12vh;
    background: none;
    justify-content: center;
    font-size: 4vh !important;
    font-family: "Source Sans Pro", sans-serif !important;
    color: black;
  }

  .textBox1 {
    max-width: 50vw !important;
  }

  .profileImageBox {
    min-width: 25vw !important;
    position: absolute !important;

    right: 3vw !important;
  }

  .optionTitle {
    font-size: 5vw;
    margin-top: 0vh;
    color: white;
  }

  .graphTitle {
    margin-top: 4vh;
    color: white !important;
    display: inline-block;

    width: 100%;
    font-size: 8vw;
    margin-left: 20vw;
  }

  .grid-container > div > h3 {
    font-size: 2vw;
  }

  .grid-container > div > div > h3 {
    font-size: 2vw;
  }

  .grid-container > div {
    font-size: 1.5vw;
  }

  .statsTitle {
    font-size: 8vw;
    color: #66ffb2;
    display: flex;
    justify-content: center;

    margin-top: 0vh;
  }
  .icon {
    max-width: 6vw;
    display: inline-block;
  }

  .dnut {
    position: absolute;
    /*transform: rotate(-270deg) translateY(101%);*/
    top: -30vh;
    transform-origin: bottom left;
    transform: rotate(90deg);
    width: 60vh;
    max-height: 60vw;
    background: none;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  .percentBox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12vw !important;
    color: #66ffb2;
    top: 0vh !important;
    left: 5vw;
    background: none;

    min-height: 60vh;
    z-index: 100;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 1s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  .graphPercentParent {
    position: relative;

    display: "block";

    position: relative;

    top: -2vh !important;
    padding: 0;
    min-height: 65vh;
  }

  .percentBox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12vw;
    color: #66ffb2;
    top: 0vh;
    left: 5vw;
    background: none;

    min-height: 60vh;
    z-index: 100;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 1s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  .statsTitle {
    display: flex;
    justify-content: center;
    color: #66ffb2;
    font-size: 12vw;
    font-family: "Open Sans Condensed" !important;
  }

  .iconsStatsParent {
    position: absolute;

    top: 3vh;
    width: 50vw;
    height: 65vh;
    right: 0;
    z-index: 100;
  }

  .iconStatsBox {
    position: relative;
    min-width: 50vw;
    margin-top: 3vh;

    animation: inFromRight ease 2s;
    -webkit-animation: inFromRight ease 2s;
  }

  .iconText {
    position: relative;
    display: flex;
    min-height: 10vh;
    width: 50vw;

    align-content: center;
  }

  @keyframes inFromRight {
    0% {
      opacity: 0;
      right: -50vw;
    }
    100% {
      opacity: 1;
      right: 0vw;
    }
  }

  @-moz-keyframes inFromRight {
    0% {
      opacity: 0;
      right: -50vw;
    }
    100% {
      opacity: 1;
      right: 0vw;
    }
  }

  @-webkit-keyframes inFromRight {
    0% {
      opacity: 0;
      right: -50vw;
    }
    100% {
      opacity: 1;
      right: 0vw;
    }
  }

  @-o-keyframes inFromRight {
    0% {
      opacity: 0;
      right: -50vw;
    }
    100% {
      opacity: 1;
      right: 0vw;
    }
  }

  @-ms-keyframes inFromRight {
    0% {
      opacity: 0;
      right: -50vw;
    }
    100% {
      opacity: 1;
      right: 0vw;
    }
  }

  .icon {
    max-width: 6vw;
    display: inline-block;
  }

  .text {
    position: relative;
    display: inline-block;
    padding-left: 5px;
    color: #66ffb2;
    font-size: 6vw;

    top: 1.7vh;
    min-width: 40vw;
    font-family: "Open Sans Condensed" !important;
  }

  .iconStat {
    color: #abffd5;

    font-size: 5vw;
    margin-left: 9vw;
    margin-top: -2.2vw;
    animation: inFromRight2 ease 1s;
    -webkit-animation: inFromRight2 ease 1s;
  }

  @keyframes inFromRight2 {
    0% {
      opacity: 0;
      margin-left: 50vw;
    }
    100% {
      opacity: 1;
      margin-left: 9vw;
    }
  }

  @-moz-keyframes inFromRight2 {
    0% {
      opacity: 0;
      margin-left: 50vw;
    }
    100% {
      opacity: 1;
      margin-left: 9vw;
    }
  }

  @-webkit-keyframes inFromRight2 {
    0% {
      opacity: 0;
      margin-left: 50vw;
    }
    100% {
      opacity: 1;
      margin-left: 9vw;
    }
  }

  @-o-keyframes inFromRight2 {
    0% {
      opacity: 0;
      margin-left: 50vw;
    }
    100% {
      opacity: 1;
      margin-left: 9vw;
    }
  }

  @-ms-keyframes inFromRight2 {
    0% {
      opacity: 0;
      margin-left: 50vw;
    }
    100% {
      opacity: 1;
      margin-left: 9vw;
    }
  }

  .radioLabelsBox {
    min-width: 100vw;

    display: flex;
    justify-content: space-evenly;
    color: #66ffb2;
  }

  .radioLabel {
    font-size: 6vw;
    font-family: "Open Sans Condensed";
  }

  .MDB {
    width: 100vw !important;
  }

  .dataButton {
    width: 30vw !important;
    height: 6vh !important;
    margin-left: 35vw;

    font-size: 2.5vw !important;
  }

  .addLogNotice {
    font-size: 4vw;
  }

  .logButton {
    width: 30vw;
    height: 5vh;
    font-size: 2.5vw !important;
  }

  .demoTitle {
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    font-family: arial black;
    font-size: 6vw !important;
    margin-top: 0vh;
    margin-bottom: 5vh;
  }

  .GIFparent {
    min-width: 100vw;
  }

  .GIF {
    min-width: 90vw;
  }

  .demoP {
    color: white;
    padding: 2vw;
    font-size: 3vw !important;
  }

  .demoTitle {
    font-size: 8vw !important;
  }

  .login {
    width: 20vw;
    max-height: 4vh;
  }

  .googleG {
    max-height: 2vh;
    margin-left: -0.5vw;
    margin-top: 50%;
    transform: translateY(-23%);
  }

  .login {
    width: 60%;
    max-height: 7vh;
    display: block;
    margin-top: 2vh;
    margin-left: 20%;
  }

  .loginReg {
    width: 60%;
    max-height: 7vh;
    display: block;
    margin-top: 2vh;
    margin-left: 20%;
  }

  .loginButtonsBox {
    display: block;
    /*
    width: 120%;
    margin-left: -10%;  */
  }

  .fbText {
    display: inline-block;
    width: 80%;
    height: 50%;
    font-size: 2vw;
    line-height: 25%;
  }

  .gText {
    display: inline-block;
    margin-top: -1px;
    width: 80%;
    height: 50%;
    font-size: 2.4vw;
    line-height: 25%;
  }

  .facebookF {
    max-height: 2vh;

    margin-top: 50%;
    transform: translateY(-37%);
  }

  .googleG {
    max-height: 2vh;

    margin-top: 47%;
    transform: translateY(-37%);
  }
}
@media (max-width: 576px) {
  .phone {
    display: none;
  }

  .phoneCalc {
    display: none;
  }

  .titlebtns {
    margin: 30px;
    background-color: #00d486 !important;
    border: solid 1px;
    border-color: white;
    opacity: 0.9;
    color: white;

    border-radius: 50px;
    height: 9vw;
    width: 25vw;

    font-size: 3vw !important;
  }

  .title {
    text-shadow: 2px 2px black;
    font-family: arial black;
    font-size: 15vw !important;
    color: white;
  }

  .titleColumn {
    position: absolute !important;
    bottom: 22% !important;
    width: 100vw !important;
    left: 0;
  }

  .bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./images/lettuce.jpg");
    display: inline;
    width: 110vw !important;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 80%;

    height: 90vw !important;

    background-attachment: scroll !important;
    background-position-y: 0px !important;
    background-position-x: -30px !important;
  }

  .lettuce {
    display: none;
  }

  .btnJumboBox {
    position: relative;

    background: none;
    padding: 0;
    height: 4vh;
    display: inline-block;

    padding: 0;
  }

  .btnJumbo {
    position: relative;
    left: -2vw;
    font-size: 3.1vw;
    font-family: "Helvetica Neue";
    padding: 0.5vh;
    width: 28vw;
    height: 4vh;
    color: black;
    border: none;
    border-radius: 50px;

    background-color: #00d486 !important;
    background-color: var(--brightGreen) !important;
  }

  .btnJumbo2 {
    position: relative;
    left: 0vw;
    margin-top: -1vh;

    font-size: 2.8vw;
    font-family: "Helvetica Neue";
    padding: 0;
    width: 24vw;
    height: 5vh;
    color: white;
    border: solid 1px;
    border-radius: 5vw;
    opacity: 0.8;
    background-color: #00d486 !important;
    background-color: var(--brightGreen) !important;
  }

  .btnJumbo3 {
    position: relative;
    left: 2vw;
    margin-top: 0;

    font-size: 3vw;
    font-family: "Helvetica Neue";
    padding: 0;
    width: 24vw;
    height: 4vh;
    color: white;
    border: solid 1px;
    border-color: white !important;
    border-radius: 0.3vh;

    background-color: #00d486 !important;
    background-color: var(--brightGreen) !important;
  }

  .jmbo2 {
    position: relative;
    display: block;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: #00d486;
    color: white;

    max-width: 100vw;
    padding-left: 3vw !important;
    padding-right: 20px !important;
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    ) !important; /* FF3.6-15 */

    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    ) !important; /* Chrome10-25,Safari5.1-6 */

    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 1) ', endColorstr='rgba(0, 0, 0, 1) ',GradientType=0 ); /* IE6-9 */
  }

  .jmboTextBox {
    position: relative !important;
    background: none;
    width: 100vw;
    padding: 3vw;
  }

  .btnJumboBox2 {
    position: relative !important;
    display: block;
    background: none;
    padding: 0;
    height: 6vh;
    width: 100vw;
  }

  .intuitiveSubsRow {
    min-width: 100vw !important;
    min-height: 45vh !important;

    position: absolute;
    left: 0;
  }

  .artichokes {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("./images/spaghetti.jpg");
    position: relative;
    margin-top: 0vh !important;
    background-position-x: -15vw !important;
    padding: 0px !important;
    width: 150vw !important;

    background-attachment: scroll !important;
  }

  .intuitiveColumn {
    font-size: 15vw;
  }

  .optionTitle {
    font-size: 8vw;
    margin-top: 0vh;
    color: white;
  }

  .expertsTitleRow {
    max-width: 100vw !important;
    position: absolute !important;
    right: 0 !important;
    padding: 0;
  }

  .expertsTitleColumn {
    max-width: 90vw !important;
    min-height: 20vh;
    position: relative;
    left: 2vw !important;
    padding: 0;

    display: inline-block !important;
    justify-content: center !important;
  }

  .titleFont {
    display: inline-block;
    justify-content: center;
    position: relative !important;

    min-height: 3vh !important;
    font-size: 10vw;
  }

  .pasta {
    display: none;
  }

  .title2 {
    text-shadow: 2px 2px black;
    font-family: arial black;
    font-size: 50px !important;
    padding-top: 50%;
  }

  .title4 {
    text-shadow: 2px 2px black;
    font-family: arial black;
    font-size: 50px !important;
    padding-top: 100%;
  }

  .bg3 {
    background-image: none;
    background-color: black !important;
    margin: 0px !important;
    padding: 0px !important;
    max-width: 100vw !important;

    position: relative;
    height: 143vh !important;
    margin-top: 0px !important;
  }
  .titleh3 {
    color: white;
    font-size: 8vw;
    margin-top: 0px;

    min-width: 50vw !important;
  }

  .titleh3b {
    color: white;
    font-size: 4.3vw;
    margin-top: 0px;
    padding-left: 3vw;
    min-width: 50vw !important;
  }

  .p1 {
    margin-top: -20px;
    font-size: 15px;
    margin-left: 0px;
    max-width: 90vw;
  }

  .p2 {
    margin-top: 10px;
    font-size: 15px;
    margin-left: 0px;
    max-width: 85vw;
  }

  .jmbo {
    display: block;

    padding-left: 5vw !important;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: #00d486;
    color: white;
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    ) !important; /* FF3.6-15 */

    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    ) !important; /* Chrome10-25,Safari5.1-6 */

    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 1) ', endColorstr='rgba(0, 0, 0, 1) ',GradientType=0 ); /* IE6-9 */
  }

  .btnJumbo {
    height: 30px !important;
    margin-top: -25px !important;

    background: #00d486 !important;
  }

  .navclss {
    z-index: 999;

    width: 100vw;
  }

  .card {
    margin-left: 15%;
    margin-right: -5%;
    min-height: 400px;
    height: 100%;
    width: 120%;
  }

  .crdImg {
    height: 60%;
  }

  .crdbdy {
    height: 180px !important;
  }

  .fullCardBox1 {
    position: relative !important;
    background: #00d486;
    width: 90vw;
    min-height: 35vh !important;
    display: inline-block !important;
    margin-bottom: 2vh;
    margin-left: 50vw !important;
    transform: translateX(-50%) !important;
  }

  .textBox1 {
    position: absolute !important;
    display: block;
    right: 0;
    top: 0;
    max-width: 50% !important;
    height: 100% !important;
    background: black !important;
    border: solid 1px;

    border-color: #00d486;
  }

  .name {
    top: 5vh;
    font-size: 7vw !important;
    color: white !important;
  }

  .cardButton {
    position: absolute !important;
    font-size: 3vw !important;
    height: 3.5vh;
    width: 30vw;
    bottom: 2vh !important;
    padding-bottom: 1vh !important;
    padding-top: 0.8vh !important;
    border: solid 1px;
    border-color: white !important;
    border-radius: 50px !important;
  }

  .jobBox1 {
    background: black !important;
    min-height: 17vh;
    padding: 0;
    min-width: 50%;
    border: solid 1px;

    border-color: #00d486;
    font-size: 1vw;
  }

  .profileImageBox {
    height: 15vh !important;
    width: 15vh !important;
  }

  .cardTitleBox {
    position: relative;
    min-height: 20vh !important;
    display: flex;
    min-width: 50% !important;
    background: black !important;
    border: solid 1px;

    border-color: #00d486;
  }

  .cardColumn {
    position: absolute !important;

    height: 190vh;

    padding-right: 0 !important;

    display: block !important;
  }

  .cardsRow {
    position: relative;
    min-height: 50vh !important;
    min-width: 110vw !important;
    position: relative !important;

    top: 25vh !important;
    display: flex !important;
    justify-content: right !important;
  }

  .jmbo3 {
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: #00d486;
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    ) !important; /* FF3.6-15 */

    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    ) !important; /* Chrome10-25,Safari5.1-6 */

    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 1) ', endColorstr='rgba(0, 0, 0, 1) ',GradientType=0 ); /* IE6-9 */
  }

  .graphTitle {
    font-size: 8vw;
    margin-left: 20vw;
  }

  .dnut {
    position: absolute;
    /*transform: rotate(-270deg) translateY(101%);*/
    top: -30vh;
    transform-origin: bottom left;
    transform: rotate(90deg);
    width: 60vh;
    max-height: 60vw;
    background: none;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  .percentBox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12vw;
    color: #00d486;
    top: 0vh;
    left: 5vw;
    background: none;

    min-height: 60vh;
    z-index: 100;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 1s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
      left: -5vw;
    }
    100% {
      opacity: 1;
      left: 5vw;
    }
  }

  .graphPercentParent {
    position: relative;

    display: "block";
    top: 0vh;
    padding: 0;
    min-height: 65vh;
  }

  .statsTitle {
    display: flex;
    justify-content: center;
    color: #66ffb2;
    font-size: 12vw;
    font-family: "Open Sans Condensed" !important;
  }

  .iconsStatsParent {
    position: absolute;

    top: 3vh;
    width: 50vw;
    height: 65vh;
    right: 0;
    z-index: 100;
  }

  .iconStatsBox {
    position: relative;
    min-width: 50vw;
    margin-top: 3vh;

    animation: inFromRight ease 2s;
    -webkit-animation: inFromRight ease 2s;
  }

  .iconText {
    position: relative;
    display: flex;
    min-height: 10vh;
    width: 50vw;

    align-content: center;
  }

  @keyframes inFromRight {
    0% {
      opacity: 0;
      right: -50vw;
    }
    100% {
      opacity: 1;
      right: 0vw;
    }
  }

  @-moz-keyframes inFromRight {
    0% {
      opacity: 0;
      right: -50vw;
    }
    100% {
      opacity: 1;
      right: 0vw;
    }
  }

  @-webkit-keyframes inFromRight {
    0% {
      opacity: 0;
      right: -50vw;
    }
    100% {
      opacity: 1;
      right: 0vw;
    }
  }

  @-o-keyframes inFromRight {
    0% {
      opacity: 0;
      right: -50vw;
    }
    100% {
      opacity: 1;
      right: 0vw;
    }
  }

  @-ms-keyframes inFromRight {
    0% {
      opacity: 0;
      right: -50vw;
    }
    100% {
      opacity: 1;
      right: 0vw;
    }
  }

  .icon {
    max-width: 6vw;
    display: inline-block;
  }

  .text {
    position: relative;
    display: inline-block;
    padding-left: 5px;
    color: #66ffb2;
    font-size: 6vw;

    top: 2.95vh;
    min-width: 40vw;
    font-family: "Open Sans Condensed" !important;
  }

  .iconStat {
    color: #abffd5;
    font-size: 5vw;
    margin-left: 9vw;
    margin-top: -6vw;
    animation: inFromRight2 ease 1s;
    -webkit-animation: inFromRight2 ease 1s;
  }

  @keyframes inFromRight2 {
    0% {
      opacity: 0;
      margin-left: 50vw;
    }
    100% {
      opacity: 1;
      margin-left: 9vw;
    }
  }

  @-moz-keyframes inFromRight2 {
    0% {
      opacity: 0;
      margin-left: 50vw;
    }
    100% {
      opacity: 1;
      margin-left: 9vw;
    }
  }

  @-webkit-keyframes inFromRight2 {
    0% {
      opacity: 0;
      margin-left: 50vw;
    }
    100% {
      opacity: 1;
      margin-left: 9vw;
    }
  }

  @-o-keyframes inFromRight2 {
    0% {
      opacity: 0;
      margin-left: 50vw;
    }
    100% {
      opacity: 1;
      margin-left: 9vw;
    }
  }

  @-ms-keyframes inFromRight2 {
    0% {
      opacity: 0;
      margin-left: 50vw;
    }
    100% {
      opacity: 1;
      margin-left: 9vw;
    }
  }
  .grid-container {
    grid-template-columns: 25% 25% 25% 25%;
  }

  .connect {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .credits {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .navigate {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .info {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;

    margin-left: -20px !important;
  }

  .grid-container > div > h3 {
    font-size: 3.5vw;
  }

  .grid-container > div > div > h3 {
    font-size: 3.5vw;
  }

  .grid-container > div {
    font-size: 2.5vw;
  }

  .grid-container {
    margin-left: 3.7vw !important;
  }

  .lucidSpan {
    color: #00d486;
    margin-right: 1px;
    font-size: 2.3vw;
  }

  .address {
    margin-left: -5px;
  }

  .dataButton {
    width: 50vw !important;

    margin-left: 25vw;

    font-size: 3.6vw !important;
  }

  .addLogNotice {
    font-size: 5vw !important;
    width: 100vw;
  }

  .logButton {
    width: 40vw;
    height: 5vh;
    font-size: 4vw !important;
  }

  .gifImage {
    max-width: 80vw;
    margin-top: 0vh;
  }

  .demoTitle {
    font-size: 11vw !important;
  }

  .login {
    width: 60%;
    max-height: 7vh;
    display: block;
    margin-top: 2vh;
    margin-left: 20%;
  }

  .loginReg {
    width: 70%;
    min-height: 6vh;
    display: block;
    margin-top: 2vh;
    margin-left: 15%;
  }

  .loginButtonsBox {
    display: block;
  }

  .fbText {
    display: inline-block;
    width: 80%;
    height: 50%;
    font-size: 3.5vw;
    line-height: 0%;
    margin-top: -5px;
  }

  .gText {
    display: inline-block;
    width: 80%;
    height: 50%;
    font-size: 3.5vw;
    line-height: 28%;
    margin-top: -3px;
  }

  .facebookF {
    max-height: 2vh;

    margin-top: 45%;
    transform: translateY(-37%);
  }

  .googleG {
    max-height: 2vh;

    margin-top: 42%;
    transform: translateY(-37%);
  }
}

@media (max-width: 380px) {
  .bg3 {
    height: 145vh !important;
  }
  .cardTitleBox {
    height: 21vh;
  }

  .fullCardBox1 {
    background: #00d486;
  }

  .profileImageBox {
    margin-top: 19%;
  }

  .jmbo {
    display: block;

    padding-left: 5vw !important;
  }

  .fbText {
    display: inline-block;
    width: 80%;
    height: 50%;
    font-size: 3.5vw;
    line-height: 0%;

    margin-top: -5px;
  }

  .gText {
    display: inline-block;
    width: 80%;
    height: 50%;
    font-size: 3.5vw;
    line-height: 25%;
    margin-top: -3px;
  }

  .facebookF {
    min-height: 40px;
    margin-left: -60px;

    margin-top: 40%;
    transform: translateY(-37%);
  }

  .fBox {
    position: relative;
    max-width: 5px;
  }

  .googleG {
    max-height: 2vh;

    margin-top: 40%;
    transform: translateY(-37%);
  }
}

@media (max-width: 380px) and (min-height: 800px) {
  .dnut {
    top: -27.5vh;
  }

  .percentBox {
  }

  .fbText {
    margin-top: 1px;
  }

  .gText {
    margin-top: -1px;
  }

  .googleG {
    max-height: 2vh;

    margin-top: 48%;
    transform: translateY(-37%);
  }
}

@media (max-width: 320px) {
  .jmbo {
    height: 24vh;
  }

  .fbText {
    margin-top: -1px;
  }

  .gText {
    margin-top: -3px;
  }
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.noMargin {
  margin: 0;
}

.jmbo2 {
  border-radius: 0px !important ;
  color: white;
}
